<h2>Index</h2>

<ul>
    <li>@Html.ActionLink("Restricted page as an admin", "Restricted", new { role = "Admin" })</li>
    <li>@Html.ActionLink("Restricted page as non-admin", "Restricted", new { role = "NonAdmin" })</li>
</ul>
